
.olive-icon{
	height: 60px;
    margin-left: 25px;
}
.banner-home{
	/* background-color: #f4f7e1; */
	background: repeating-linear-gradient(#fff, #f4f7e1 65%, #8bc771 35%, #8bc771 100%);
	text-align: center;
}

.cursive-home-text{
	font-family: 'Dancing Script', cursive;
	font-size: 43px;
	color: #599e15;
}
.scene {
	width: 100%;
	position: relative;
	height: 86%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	perspective: 500px;
}

.item {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: left top;
	pointer-events: none;
}


#plant-2 {
	background-image: url(../images/camera.png);
    width: 300px;
    height: 260px;
    bottom: -64px;
    margin-right: 515px;
}


#books {
	background-image: url(../images/blackbody.png);
    width: 200px;
    height: 254px;
    bottom: -105px;
    margin-left: 447px;
}

#mirror {
	width: 350px;
	height: 272px;
	position: relative;
	box-shadow: 16px 10px 10px rgba(0, 0, 0, 0.4);
	perspective: 500px;
	border-radius: 10px;
	transform-origin: top center;
	cursor: pointer;
	background-color:rgb(192, 195, 198); ;
}
.screen-contoller-right{
	position: relative;
    top: 238px;
    height: 16px;
	margin-right: 4px;
}
.screen-contoller-left{
	position: relative;
    top: 238px;
    height: 16px;
	margin-right: 10px;
	transform: rotate(180deg)
}
#mirror-content {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/gallery/facecapt-1.gif);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    box-shadow: rgb(0 0 0 / 40%) 6px 3px 10px inset;
    border-radius: inherit;
    border-width: 5px 5px 30px;
    border-style: solid;
    border-color: rgb(192, 195, 198);
    border-image: initial;
    z-index: 0;
    display: flex;
    justify-content: center;
}
.green-gradient{
	background-image: linear-gradient(#f4f7e1,#8bc771);
}
.home-footer{
	background-image: linear-gradient(#f4f7e1,#8bc771) !important;
}
.green-bg-katalog{
	background-color: #f4f7e1 !important;
}

.home-product-icons{
	height: 30px;

}
.sticky-top{
	position: fixed !important;
  	top: 0 !important;
}
.hidden {
	overflow: hidden;
	display: none;
	visibility: hidden;
  }
  
  .btn-gallery img {
	max-height: 300px;
	margin-top: 60px !important;
  }

.facebox-img img{
	max-height: 300px;
}
.screen-home{
	width: 350px;
	position: relative;
	box-shadow: 16px 2px 10px rgba(0, 0, 0, 0.4);
	perspective: 500px;
	border-radius: 10px;
	transform-origin: top center;
	cursor: pointer;
    box-shadow: rgb(0 0 0 / 40%) 6px 3px 10px inset;
    border-radius: inherit;
    border-width: 5px 5px 30px;
    border-style: solid;
    border-color: rgb(192, 195, 198);
	background-color: rgb(192, 195, 198);;
}
#array-cam {
	background-image: url(../images/camera.png);
    width: 300px;
    height: 260px;
    bottom: -64px;
    margin-right: 483px;
}


#blackbody {
	background-image: url(../images/blackbody.png);
    width: 200px;
    height: 254px;
    bottom: -105px;
    margin-left: 447px;
}
#screen-div{
	width: 350px;
	height: 250px;
	position: relative;
	box-shadow: 16px 10px 10px rgba(0, 0, 0, 0.4);
	perspective: 500px;
	border-radius: 10px;
	transform-origin: top center;
	cursor: pointer;
	background-color:rgb(192, 195, 198); ;
}
.screen-next-btn{
	top: 214px !important;
    right: 120px !important;
}
.screen-prev-btn{
	top: 214px !important;
	left: 120px !important;
}
.height-full{
	height: 100%;
}
.text-align-initial{
	text-align: initial;
}
.text-align-left{
	text-align: end;
}
.product-subtitle{
	color: #35404e;
    font-weight: 700;
}
.footer-left{
	text-align: end;
}
.footer-h5-top-align{
	margin-top: 40px !important;
}
@media (max-width: 1200px) { 
    #blackbody {
		display: none;
	}
	#plant-2 {
		display: none;
	}
	#books {
		display: none;
	}
	#array-cam {
		display: none;
	}
	.banner-home{
		/* background-color: #f4f7e1; */
		background: repeating-linear-gradient(#fff, #f4f7e1 50%, #8bc771 50%, #8bc771 100%);
	}
}
@media (min-width: 600px) and (max-width: 992px) { 
    .banner-home{
		/* background-color: #f4f7e1; */
		background: repeating-linear-gradient(#fff, #f4f7e1 15%, #8bc771 85%, #8bc771 100%);
		text-align: center;
	}
	.cursive-home-text{
		margin-top: 40px;
	}
	.scene {
		margin-top: 40px;
	}
	.footer-left{
		text-align: start;
	}
	.footer-h5-top-align{
		margin-top: 20px !important;
	}
}
@media  (max-width: 600px) { 
    .banner-home{
		/* background-color: #f4f7e1; */
		background: repeating-linear-gradient(#fff, #f4f7e1 15%, #8bc771 85%, #8bc771 100%);
		text-align: center;
	}
	.cursive-home-text{
		margin-top: 40px;
	}
	.scene {
		margin-top: 40px;
	}
	.footer-left{
		text-align: start;
	}
	.footer-h5-top-align{
		margin-top: 20px !important;
	}
}